// Place all the styles related to the desserts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

.body {
  background-image: url(desserts.jpg);
  background-color: rgb(204, 223, 230);
  background-blend-mode: screen;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  position:absolute;
  top: 0;
  left: 0;

  min-height: 100vh;
  min-width: 1024px;

  width: 100%;
  height: auto;

  text-align: center;
}

.main-content {
  display: flex;
}


.main-content-form {
  position: sticky;
  top: 3em;
}


.desserts-container {
  // background: red;
  width: 75%;
  // border: 1px solid black;
  background: rgba(39, 179, 179, 0.171);
}


.desserts-container-contents {
  // background: red;
  // width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1rem;
  
  margin: 2rem;

}


.dessert-container {
  border: 1px solid black;
  margin: 3em;
  background: aliceblue;

  max-height: fit-content;
}


.dessertForm-container {
  border: 1px solid black;
  margin: 2em;
  background: azure;

  height: fit-content;
  padding: 2em;
}