// Place all the styles related to the desserts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.dessert-container {
  border: 1px solid black;
  margin: 3em;
  background: aliceblue;
}


.dessertForm-container {
  border: 1px solid black;
  margin: 2em;
  background: azure;
}